<h1>Dialer app</h1>
<p>Registration:</p>
<form action="/register" method="GET">
Domain: <input type="text" name="domain"><br>
Username: <input type="text" name="user"><br>
Password: <input type="password" name="password">
	<button>Register</button>
</form>
